
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-image: url('../images/image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: blue;

}
img {
  max-width: 100%;
}
.heading{
  text-align: center;
}
.login{
  text-align: center;
}

.picture{
  width: 100%;
  height: auto;
}
